## Riesgo diversificable y no diversificale de un portafolio

El archivo es el mismo de las acciones de Microsoft y Apple.

In [20]:
import numpy as np
import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

datos = pd.read_csv('C:/Users/Mario/Finanzas Python/MSFT_AAPL_2000_2017.csv', index_col='Date')
    
datos

                 MSFT        AAPL
Date
1999-12-31  38.965767    3.303425
2000-01-03  38.903194    3.596616
2000-01-04  37.589046    3.293384
2000-01-05  37.985374    3.341579
2000-01-06  36.712940    3.052405
2000-01-07  37.192707    3.196992
2000-01-10  37.463867    3.140763
2000-01-11  36.504345    2.980111
2000-01-12  35.315346    2.801384
2000-01-13  35.982849    3.108633
2000-01-14  37.463867    3.227114
2000-01-18  38.485996    3.339571
2000-01-19  35.711666    3.423914
2000-01-20  35.377911    3.646819
2000-01-21  34.626968    3.576534
2000-01-24  33.792599    3.413873
2000-01-25  34.314075    3.606657
2000-01-26  33.166782    3.540388
2000-01-27  32.958199    3.534363
2000-01-28  32.791317    3.265270
2000-01-31  32.666164    3.333547
2000-02-01  34.355797    3.221090
2000-02-02  33.646576    3.174902
2000-02-03  34.585247    3.319489
2000-02-04  35.565659    3.470102
2000-02-07  35.586525    3.664894
2000-02-08  36.692062    3.691000
2000-02-09  34.710411    3.618706
2000-02-10  35.377911    3.646819
2000-02-11  33.354527    3.494199
...               ...         ...
2017-02-09  62.975552  131.359818
2017-02-10  62.916569  131.062225
2017-02-13  63.624386  132.222839
2017-02-14  63.861748  133.939011
2017-02-15  63.822189  134.425079
2017-02-16  63.812298  134.266357
2017-02-17  63.911205  134.633408
2017-02-21  63.782627  135.605560
2017-02-22  63.654053  136.012268
2017-02-23  63.911205  135.436920
2017-02-24  63.911205  135.565887
2017-02-27  63.525482  135.833710
2017-02-28  63.278221  135.893250
2017-03-01  64.227699  138.670807
2017-03-02  63.307896  137.847473
2017-03-03  63.545258  138.660889
2017-03-06  63.565041  138.224426
2017-03-07  63.693615  138.402985
2017-03-08  64.277138  137.887146
2017-03-09  64.020004  137.569687
2017-03-10  64.217804  138.026016
2017-03-13  64.000214  138.085541
2017-03-14  63.703510  137.877228
2017-03-15  64.039780  139.335464
2017-03-16  63.930984  139.563614
2017-03-17  64.158463  138.869217
2017-03-20  64.217804  140.327454
2017-03-21  63.505699  138.720413
2017-03-22  64.316704  140.287766
2017-03-23  64.158463  139.791763

[4334 rows x 2 columns]

In [21]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4334 entries, 1999-12-31 to 2017-03-23
Data columns (total 2 columns):
MSFT    4334 non-null float64
AAPL    4334 non-null float64
dtypes: float64(2)
memory usage: 101.6+ KB

Ahora calculamos el riego diversificable y no diversificale de un portafolio, compuesta de dos acciones:

a) cada una con pesos o indexados de 0.5 y 0.5;

In [22]:
rend = np.log(datos / datos.shift(1))
rend

C:\Users\Mario\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in log
  """Entry point for launching an IPython kernel.

                MSFT      AAPL
Date
1999-12-31       NaN       NaN
2000-01-03 -0.001607  0.085034
2000-01-04 -0.034364 -0.088078
2000-01-05  0.010489  0.014528
2000-01-06 -0.034072 -0.090514
2000-01-07  0.012983  0.046281
2000-01-10  0.007264 -0.017745
2000-01-11 -0.025946 -0.052505
2000-01-12 -0.033114 -0.061847
2000-01-13  0.018725  0.104069
2000-01-14  0.040335  0.037405
2000-01-18  0.026918  0.034254
2000-01-19 -0.074817  0.024942
2000-01-20 -0.009390  0.063071
2000-01-21 -0.021455 -0.019461
2000-01-24 -0.024391 -0.046547
2000-01-25  0.015314  0.054934
2000-01-26 -0.034007 -0.018545
2000-01-27 -0.006309 -0.001703
2000-01-28 -0.005076 -0.079191
2000-01-31 -0.003824  0.020694
2000-02-01  0.050431 -0.034317
2000-02-02 -0.020859 -0.014443
2000-02-03  0.027516  0.044534
2000-02-04  0.027953  0.044373
2000-02-07  0.000587  0.054615
2000-02-08  0.030593  0.007098
2000-02-09 -0.055521 -0.019781
2000-02-10  0.019048  0.007739
2000-02-11 -0.058894 -0.042751
...              ...       ...
2017-02-09  0.011303  0.007200
2017-02-10 -0.000937 -0.002268
2017-02-13  0.011187  0.008816
2017-02-14  0.003724  0.012896
2017-02-15 -0.000620  0.003622
2017-02-16 -0.000155 -0.001181
2017-02-17  0.001549  0.002730
2017-02-21 -0.002014  0.007195
2017-02-22 -0.002018  0.002995
2017-02-23  0.004032 -0.004239
2017-02-24  0.000000  0.000952
2017-02-27 -0.006054  0.001974
2017-02-28 -0.003900  0.000438
2017-03-01  0.014893  0.020233
2017-03-02 -0.014425 -0.005955
2017-03-03  0.003742  0.005883
2017-03-06  0.000311 -0.003153
2017-03-07  0.002021  0.001291
2017-03-08  0.009120 -0.003734
2017-03-09 -0.004008 -0.002305
2017-03-10  0.003085  0.003312
2017-03-13 -0.003394  0.000431
2017-03-14 -0.004647 -0.001510
2017-03-15  0.005265  0.010521
2017-03-16 -0.001700  0.001636
2017-03-17  0.003552 -0.004988
2017-03-20  0.000924  0.010446
2017-03-21 -0.011151 -0.011518
2017-03-22  0.012690  0.011235
2017-03-23 -0.002463 -0.003542

[4334 rows x 2 columns]

### Caculamos la varianza del portafolio

Si ambos pesos son iguales:

In [23]:
pesos = np.array([0.5, 0.5])

Varianza del portafolio:

In [24]:
pfolio_var = np.dot(pesos.T, np.dot(rend.cov() * 250, pesos))
pfolio_var

0.09961622870546055

### Calculando ambos riesgos

Riezgo Diversificable:

In [29]:
MSFT_var_a = rend[['MSFT']].var() * 250
MSFT_var_a

MSFT    0.096599
dtype: float64

In [30]:
AAPL_var_a = rend[['AAPL']].var() * 250
AAPL_var_a

AAPL    0.192681
dtype: float64

O bien:

In [31]:
MSFT_var_a = rend['MSFT'].var() * 250
MSFT_var_a

0.09659890951701745

In [32]:
AAPL_var_a = rend['AAPL'].var() * 250
AAPL_var_a

0.19268124918691387

Calculando riesgo diversificable:

In [33]:
rd = pfolio_var - (pesos[0] ** 2 * MSFT_var_a) - (pesos[1] ** 2 * AAPL_var_a)
rd

0.027296189029477724

In [35]:
print (str(round(rd*100, 3)) + ' %')

2.73 %

Riesgo no Diversificable:

In [36]:
n_rd_1 = pfolio_var - rd
n_rd_1

0.07232003967598283

O bien:

In [37]:
n_rd_2 = (pesos[0] ** 2 * MSFT_var_a) + (pesos[1] ** 2 * AAPL_var_a)
n_rd_2

0.07232003967598283

*****

b)	Con pesos de 0.2 para Microsoft y 0.8 para Apple.

### Calculamos la varianza del portafolio

In [38]:
pesos_2 = np.array([0.2, 0.8])

Varianza del Portafolio:

In [52]:
pfolio_var_2 = np.dot(pesos_2.T, np.dot(rend.cov() * 250, pesos_2))
pfolio_var_2

0.14464951683917132

### Calculando los riesgos

Calculando riesgo diversificable:

In [53]:
rd_2 = pfolio_var_2 - (pesos_2[0] ** 2 * MSFT_var_a) - (pesos_2[1] ** 2 * AAPL_var_a)
rd_2

0.017469560978865706

In [54]:
print (str(round(rd*100, 3)) + ' %')

2.73 %

Calculando riesgo no diversificable:

In [55]:
n_rd_2 = pfolio_var_2 - rd_2
n_rd_2

0.12717995586030562

O bien:

In [56]:
n_rd_2 = (pesos_2[0] ** 2 * MSFT_var_a) + (pesos_2[1] ** 2 * AAPL_var_a)
n_rd_2

0.12717995586030562